@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --font-family: 'Pangolin', cursive;
    --bg-color:#B3005E ;
    --primary-color:#FFED00 ;
    
}

body {
    background-color:var(--bg-color) ;
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family:var(--font-family) ;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 6em;
}

h3{
    font-size: 2em;
    margin-top: 25px;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 7px dotted var(--primary-color) ;
    display: inline-block;
    font-size: 4em ;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding : 8px 15px;
    border:0 ;
    background: rgb(255, 106, 106);
    border-radius:10px ; 
    color: var(--primary-color);
    margin-top: 20px;
}